@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primaryFont: "Public Sans", sans-serif;
  --primaryBgcolor: #262e35;
  --bgColor2: #303841;
  --bgColor3: #36404a;
  --primaryTextColor: #eff2f7;
  --themeButtonBg: #7269ef;
  --borderColor: #36404a;
}
*{padding: 0;margin: 0;box-sizing: border-box;}
body { padding: 0; margin: 0;font-family: var(--primaryFont);background-color: var(--primaryBgcolor);}
ul { list-style: none }
a { text-decoration: none; outline: none; }
body a:hover, body a:focus { text-decoration: none; }
a:focus { outline: none; text-decoration: underline }
textarea:focus { outline: none }
input { outline: none !important }
button, button:focus { outline: none }
a img { border: none }
img { border: 0; max-width: 100%; }
p { padding: 0; margin: 0 }
h1, h2, h3, h4, ul, p { padding: 0; margin: 0 }
textarea { resize: none }
.clr { clear: both; height: 0 }
.form-control:focus { -webkit-box-shadow: none; box-shadow: none }
ul { padding: 0; list-style: none }
a {transition: .4s ease-in-out; }
a:hover { text-decoration: none; transition: .4s ease-in-out; }
p:empty {
    display: none;
}

/* Login */
.auth-wrapper { max-width: 500px; padding: 50px; background: var(--bgColor2); width: 100%; } 
.page-wrapper { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; height: 100vh; overflow-y: auto; padding: 30px;} 
.auth-wrapper h3 { color: var(--primaryTextColor); text-align: center; font-size: 24px; font-weight: 500; text-transform: uppercase; margin-bottom: 30px; }

.input-group label {display: block; font-size: 15px; text-transform: capitalize; color: var(--primaryTextColor); line-height: 20px; margin-bottom: 4px; width: 100%;} 
.input-group .form-control {box-shadow: none !important; width: 100%; font-size: 16px; background: var(--bgColor3); border: none; padding: 15px 10px;color: var(--primaryTextColor);border-radius: 0; } 
.auth-wrapper form > *:not(:last-child) { margin-bottom: 20px; } 
.theme-btn {cursor: pointer; background: var(--themeButtonBg); border: 1px solid var(--themeButtonBg); padding: 10px; font-size: 14px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; } 
.auth-wrapper form .theme-btn { width: 100%; padding: 15px; }

.radio-lists { display: flex; align-items: center; } 
.radio-group { display: flex; align-items: center; } 
.radio-group label { margin: 0; margin-left: 7px; } 
.radio-group:not(:last-child) { margin-right: 25px; }

.form-bottom-text { display: block; font-size: 15px; text-transform: capitalize; color: var(--primaryTextColor); line-height: 20px; margin-bottom: 4px; text-align: center; } 
.form-bottom-text a { color: var(--themeButtonBg); }

.chat-system-wrapper { width: 100%; max-width: 900px; display: flex; flex-wrap: wrap; background: var(--bgColor2); } 
.chat-sidebar { width: 275px; padding: 15px; border-right: 1px solid var(--borderColor); } 
.message-container { width: calc(100% - 275px); } 
.reciever-data { display: flex; align-items: center; padding: 15px; border-bottom: 1px solid var(--borderColor); } 
.messages-list { padding: 15px; }

.conversatio-item { display: flex; align-items: center; padding: 10px; cursor: pointer;border-radius: 10px; } 
.conversatio-item.active {background-color: var(--themeButtonBg);}
.conversatio-item > img,.reciever-data > img { width: 40px; height: 40px; border-radius: 100%; margin-right: 10px; } 
.chatusers { margin: 15px 0; }
.user-cnt { display: flex; align-items: flex-start; width: calc(100% - 50px); justify-content: space-between; align-items: center; } 
.last-seen-data { font-size: 11px; font-weight: 400; color: var(--primaryTextColor); opacity: 0.7; } 
.left-msg h4 { font-size: 14px; color: var(--primaryTextColor); } 
.conversatio-item:not(:last-child) { border-bottom: 1px solid var(--borderColor); } 
.reciever-data h4 { font-size: 14px; color: var(--primaryTextColor); } 
.message-box { display: flex; } 
.message-box img { width: 40px; height: 40px; border-radius: 100%; margin-right: 10px; } 
.message { padding: 12px 15px; background: var(--bgColor3); border-radius: 20px 20px 20px 0; font-size: 13px; font-weight: 400; color: var(--primaryTextColor); opacity: 0.7; } 
.msg-time { margin: 4px 0 0; font-size: 11px; font-weight: 400; color: var(--primaryTextColor); opacity: 0.7; } 
.message-box:not(:last-child) { margin-bottom: 20px; }

.search-user .input-group { position: relative; } 
.search-user svg { position: absolute; top: 13px; width: 22px; height: 22px; left: 10px; color: var(--primaryTextColor); opacity: 0.5;z-index: 4; } 
.search-user .form-control { border-radius: 10px !important; font-size: 14px; font-weight: 500; padding-left: 40px; }

.chat-system-wrapper { height: 100%; max-height: 580px;} 
.messages-list { height: calc(100% - 150px); overflow-y: auto; } 
.message-container { height: 100%; } 
.chat-sidebar {height: 100%; position: relative; display: flex; flex-direction: column; justify-content: space-between;} 
.chatusers { height: calc(100% - 162px); overflow-y: auto; margin-bottom: auto; }

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.message-input-box .input-group { display: flex; align-items: center; padding: 15px; } 
.message-input-box { border-top: 1px solid var(--borderColor); } 
.message-input-box .input-group .form-control { width: calc(100% - 65px); margin-right: 17px;height: 48px;font-size: 14px; } 
.input-group .form-control:focus{background: var(--bgColor3);color: var(--primaryTextColor);}
.message-send { background: var(--themeButtonBg); border: 1px solid var(--themeButtonBg); width: 48px; height: 48px; border-radius: 100% !important; } 
.message-send svg { font-size: 23px; margin-left: -4px; margin-bottom: -4px; } 
.logout-box { position: absolute; bottom: 0; left: 0; width: 100%; padding: 15px; } 
.logout-box button { background: transparent; border: none; padding: 0; cursor: pointer; } 
.logout-box button svg { color: var(--primaryTextColor); opacity: 0.7; font-size: 20px; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
}

.radio-lists .form-check { margin-right: 18px; margin-bottom: 0; } 
label.form-check-label { margin: 0; display: inline-block; } 
.form-check input[type=radio] { margin-right: 7px; background: transparent; border: 1px solid #ccc; } 
.form-check input[type=radio]:checked { background-color: var(--themeButtonBg); border-color: var(--themeButtonBg); }

.noChatSelected_box { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; } 
.noChatSelected_box h4 { font-size: 23px; color: #fff; margin: 0 0 7px; } 
.noChatSelected_box h6 { font-size: 16px; color: rgb(255 255 255 / 70%); font-weight: 300; margin-bottom: 12px; } 
.noChatSelected_box p svg { max-width: 50px; max-height: 50px; }

.noMessage_txt { height: 100%; display: flex; align-items: center; justify-content: center; color: #fff; opacity: 0.5; font-size: 14px; }

.message-box.chat-end { flex-direction: row-reverse; text-align: right; } 
.message-box.chat-end > img { margin-left: 10px; margin-right: 0; }

.conversatio-item {
  position: relative;
}

.conversatio-item.online:after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 38px;
  width: 10px;
  height: 10px;
  background: #28d028;
  display: block;
  border-radius: 100%;
}
.messages-list>*:not(:first-child) { margin-top: 20px; }

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shakeMsg {
  animation: shake 0.5s ease forwards;
}